version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-Satya@2005}
      POSTGRES_DB: ${DB_NAME:-air_quality_db}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      
  backend:
    build: ./backend
    restart: always
    ports:
      - "8000:8000"
    environment:
      - DB_HOST=db
      - DB_USER=${DB_USER:-postgres}
      - DB_PASSWORD=${DB_PASSWORD:-Satya@2005}
      - DB_NAME=${DB_NAME:-air_quality_db}
      - DB_PORT=5432
      - SECRET_KEY=${SECRET_KEY:-e83b4c92e9dbf483b8a1c937104b2c28d229f3c9a7d8c6b9e11f72a44d8c6a01}
      - ALGORITHM=HS256
      - ACCESS_TOKEN_EXPIRE_HOURS=8
    depends_on:
      - db

  frontend:
    build: ./frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  postgres_data:
